@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat:wght@100&display=swap');

/* Configurações gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
}

/* Tags e parametros para facilitar a programação do código e deixar mais organizado */

:root {
    --color-color-primary-color: #34ffa9;
    --color-color-secondary-color: #262d36;
    --color-color-third-color: #ffffff;
    --color-color-background-color: #23272d;
    --color-color-btn-green-color: #242D23;
    --color-color-bnt-green-hover-color: #153612;

    font-family: 'Fira Code', monospace;
}

/* Layout da página */

#app {
    display: grid;

    background-color: var(--color-color-background-color);
    color: var(--color-color-primary-color);

    font-size: 100%;

    height: auto;

    grid-template-rows: max-content 1fr max-content;

}

/* Configurações da Navbar */

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    padding-top: 0.45rem;
    padding-left: 2.06rem;
    padding-right: 1.17rem;
}

/* Logo que vai na navbar */

.logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 30px;
    color: var(--color-color-primary-color);
}

/* Navbar e seus parametros*/

.navbar {
    display: flex;
    align-items: center;
    gap: 27px;
}

.nav-link {
    color: var(--color-color-primary-color);
    font-weight: bold;
    letter-spacing: 0.7px;
}

.nav-link:hover {
    color: var(--color-color-third-color);
    text-decoration: solid;
    transition: 0.5s;
}

/* Botão que vai na Navbar para contato. */

.btn-green {
    background-color: var(--color-color-btn-green-color);

    border: 0;
    border-radius: 3px;
    padding: 0.5rem 1.44rem;

    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
}

.btn-green:hover {
    background-color: var(--color-color-primary-color);
    color: var(--color-color-bnt-green-hover-color);
    font-weight: bold;
}

/* Container Global */

.container {
    margin-top: 198px;
    margin-bottom: 290px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container de boas-vindas */

.row-1 {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}

.row-1-escrito {
    display: flex;
    flex-direction: column;
}

.row-1-escrito-titulo {
    font-size: 45px;
}

.row-1-escrito-subtitulo {
    color: var(--color-color-third-color);
    font-size: 36px;
    margin-bottom: 97px;
}

.row-1-escrito-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-color-btn-green-color);
    border: none;
    border-radius: 5px;
    width: 240px;
    height: 60px;
    color: var(--color-color-primary-color);
    font-size: 32px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
}

.row-1-escrito-btn:hover {
    background-color: var(--color-color-primary-color);
    color: var(--color-color-bnt-green-hover-color);
    font-weight: bold;
    transition: 0.5s;
}

.row-1-escrito-icones {
    display: flex;
    margin-top: 118px;
    gap: 42.16px;
}

.row-1-escrito-img {
    width: 400px;
    gap: 15px;
    margin-left: 200px;
}

/* Container de Sobre mim */

.row-2 {
    margin-top: 354px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.row-2-escrito {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.row-2-escrito-titulo {
    font-size: 55px;
    color: var(--color-color-third-color);
}

.row-2-escrito-icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 37px;
}

.row-2-subtitulo-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 185px;
    margin-top: 37px;

    gap: 40px
}

.row-2-escrito-img {}

.row-2-paragrafo {
    color: var(--color-color-third-color);
    font-size: 20px;
    width: 800px;
}

/* Container de Projetos */

.row-3 {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 37px;
}

.row-3-escrito {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row-3-escrito-titulo {
    font-size: 55px;
    color: var(--color-color-third-color);
    margin-right: 185px;
}

.row-3-escrito-img {}

.row-3-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.row-3-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 130px;
}

.row-3-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #262D36;
    border-radius: 10px;
}

.row-3-card-project {
    height: 266px;
}

.row-3-card-tittle {
    margin-top: 20px;

    color: var(--color-color-third-color);
    font-size: 40px;
}

.row-3-card-tittle:hover {
    text-decoration: underline;

    transition: 0.5s;
}

.row-3-card-desc {
    width: 336px;

    margin-top: 20px;

    color: var(--color-color-third-color);
}

.row-3-card-more {
    background-color: var(--color-color-btn-green-color);
    color: var(--color-color-third-color);

    font-size: 35px;

    width: 100%;
    height: 70px;

    border: none;
    border-radius: 10px;

    margin-top: 50px;

    cursor: pointer;
}

.row-3-card-more:hover {
    background-color: var(--color-color-primary-color);
    color: var(--color-color-background-color);

    transition: all 0.5s;
}

.row-3-card-more-project {
    background-color: var(--color-color-btn-green-color);
    color: var(--color-color-third-color);

    font-size: 35px;

    width: 500px;
    height: 70px;

    border: none;
    border-radius: 10px;

    margin-top: 50px;

    cursor: pointer;
}

/* Container de experiencias */

.row-4 {
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 37px;

    margin-top: 200px;
}

.row-4-escrito {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row-4-escrito-titulo {
    font-size: 55px;
    color: var(--color-color-third-color);
    margin-right: 55px;
}

.row-4-escrito-img {}

.row-4-card {
    display: flex;
    flex-direction: row;

}

.row-4-card-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 300px;
}

.row-4-desc {
    padding-left: 100px;

    font-size: 25px;

    width: 800px;
}

/* Container formulario de contato */

.row-5 {
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 37px;

    margin-top: 200px;

    padding-left: 15px;

    margin-right: 50px;
}

.row-5-escrito {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row-5-escrito-titulo {
    font-size: 55px;

    color: var(--color-color-third-color);

    margin-right: 186px;
}

.row-5-escrito-img {
    display: block;
    align-items: end;
}

.row-5-card {
    display: flex;
    flex-direction: row;
}

.row-5-information {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.row-5-title {
    font-size: 30px;
}

.row-5-desc {
    width: 420px;

    color: var(--color-color-third-color);

    font-size: 20px;

    margin-bottom: 35px;
}

.row-5-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;

    color: var(--color-color-primary-color);
}

.row-5-icons a img {
    color: var(--color-color-primary-color);
}

.row-5-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.row-5-form-contat {
    display: flex;
    flex-direction: column;
}

.row-5-form-input {
    width: 825px;

    height: 60px;

    outline: none;

    border: none;
    border-radius: 10px;

    padding: 27px;

    margin-bottom: 37px;

    background-color: var(--color-color-secondary-color);
    color: var(--color-color-primary-color);

    font-size: 25px;
}

.row-5-form-input:focus {
    background-color: var(--color-color-third-color);
    color: var(--color-color-secondary-color);

    border: 2px solid;
    border-color: var(--color-color-primary-color);

    transition: 0.5s all linear;
}

.row-5-form-button-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 12px;
}

.row-5-form-button {
    width: 90%;
    height: 50px;

    background-color: var(--color-color-primary-color);
    border-radius: 5px;
    border: none;
    color: var(--color-color-secondary-color);
    cursor: pointer;
    font-size: 30px;

}

.row-5-form-button:hover {
    background-color: var(--color-color-secondary-color);
    color: var(--color-color-primary-color);

    transition: 0.2s all linear;

    border: 2px solid var(--color-color-primary-color);
}


.row-5-form-button2 {
    width: 90%;
    height: 50px;

    background-color: transparent;
    border: none;
    color: var(--color-color-primary-color);

    font-size: 30px;

    border-radius: 5px;

    cursor: pointer;
}

.row-5-form-button2:hover {
    border: 2px solid var(--color-color-primary-color);
}


.row-5-form-input::selection {}

/* Footer Web site */

.row-end {
    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 32px;
    border-top: 0.4px solid var(--color-color-primary-color);
}

.row-end-logo {
    font-size: 35px;

    padding: 35px;
}

.row-end-copy {

    font-weight: bold;

    color: var(--color-color-third-color);
}