@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat:wght@100&display=swap');

/* Configurações gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
}

/* Tags e parametros para facilitar a programação do código e deixar mais organizado */

:root {
    --color-color-primary-color: #34ffa9;
    --color-color-secondary-color: #262d36;
    --color-color-third-color: #ffffff;
    --color-color-background-color: #23272d;
    --color-color-btn-green-color: #242D23;
    --color-color-bnt-green-hover-color: #153612;

    font-family: 'Fira Code', monospace;
}

/* Layout da página */

#app {
    display: grid;

    background-color: var(--color-color-background-color);
    color: var(--color-color-primary-color);

    font-size: 100%;

    width: 100%;

    grid-template-rows: max-content 1fr max-content;

}

/* Configurações da Navbar */

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;

    width: 100%;

}

/* Logo que vai na navbar */

.logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 30px;
    color: var(--color-color-primary-color);


}

/* Navbar e seus parametros*/

.navbar {
    display: flex;
    align-items: center;
    gap: 27px;
}

.nav-link {
    color: var(--color-color-primary-color);
    font-weight: bold;
    letter-spacing: 0.7px;
}

.nav-link:hover {
    color: var(--color-color-third-color);
    text-decoration: solid;
    transition: 0.5s;
}

/* Botão que vai na Navbar para contato. */

.btn-green2 {
    background-color: var(--color-color-btn-green-color);

    border: 0;
    border-radius: 3px;
    padding: 0.5rem 1.44rem;

    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
}

.btn-green2:hover {
    background-color: var(--color-color-primary-color);
    color: var(--color-color-bnt-green-hover-color);
    font-weight: bold;
}

/* Container Global */

.container {

    display: grid;
    grid: 150px auto auto auto;
    grid-gap: 10px;
    padding: 10px;

    width: 100%;

    /*background-color: white;*/
}

.container>.divisao {
    margin-bottom: 200px;
    margin-top: 220px;
}

.container>.row {
    /*background-color: black !important;*/
    background-color: var(--color-color-background-color);
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}



.conteudo {
    /* background-color: white; */
}



.div-row {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.conteudo-1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    border-top: 0.1px solid var(--color-color-primary-color);
}

.paragrafo {
    color: var(--color-color-third-color);

    margin-top: 15px;
}

.listagem-paragrafos {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.listagem-experiencias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.titulo {
    margin-top: 35px;
    margin-bottom: 15px;
}

.titulo:hover {
    color: var(--color-color-primary-color);
}

.texto50 {
    font-size: 50px;
}

.branco {
    color: var(--color-color-third-color);
}

.sub-titulos {
    color: var(--color-color-third-color);
    font-size: 36px;
}

.btn-green {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-color-btn-green-color);
    border: none;
    border-radius: 5px;
    width: 240px;
    height: 60px;
    color: var(--color-color-primary-color);
    font-size: 32px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);

    margin-top: 18px;
}

.btn-green:hover {
    background-color: var(--color-color-primary-color);
    color: var(--color-color-bnt-green-hover-color);
    font-weight: bold;
    transition: 0.5s;
}

.icones {
    display: flex;
    gap: 25px;

    margin-top: 15px;
}

.icones a:hover {}

.icones .tamanhos {
    height: 50px;
}

.perfil-logo {
    width: 400px;
}

/* Container de Projetos  */


.row-3-cards {
    display: flex;
    gap: 35px;
}

.row-3-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #262D36;
    border-radius: 10px;

    width: 340px;
}

.row-3-card-project {
    height: 266px;
}

.row-3-card-tittle {
    margin-top: 20px;

    color: var(--color-color-third-color);
    font-size: 40px;
}

.row-3-card-tittle:hover {
    text-decoration: underline;

    transition: 0.5s;
}

.row-3-card-desc {
    width: 336px;

    margin-top: 20px;

    color: var(--color-color-third-color);
}

.row-3-card-more {
    background-color: var(--color-color-btn-green-color);
    color: var(--color-color-third-color);

    font-size: 35px;

    width: 100%;
    height: 70px;

    border: none;
    border-radius: 10px;

    margin-top: 50px;

    cursor: pointer;
}

.row-3-card-more:hover {
    background-color: var(--color-color-primary-color);
    color: var(--color-color-background-color);

    transition: all 0.5s;
}

.row-3-card-more-project {
    background-color: var(--color-color-btn-green-color);
    color: var(--color-color-third-color);

    font-size: 35px;

    width: 500px;
    height: 70px;

    border: none;
    border-radius: 10px;

    margin-top: 50px;

    cursor: pointer;
}

/* Container de experiencias */


.row-4-card-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 300px;
}

.row-4-desc {
    padding-left: 100px;

    font-size: 25px;

    width: 800px;
}

/* Container formulario de contato */
.contact-card {
    display: flex;
    flex-direction: row;
}

.contact-information {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact-title {
    font-size: 30px;
}

.contact-desc {
    width: 420px;

    color: var(--color-color-third-color);

    font-size: 20px;

    margin-bottom: 35px;
}

.contact-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;

    color: var(--color-color-primary-color);
}

.contact-icons a img {
    color: var(--color-color-primary-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.contact-form-contact {
    display: flex;
    flex-direction: column;
}

.contact-form-input {
    width: 825px;

    height: 60px;

    outline: none;

    border: none;
    border-radius: 10px;

    padding: 27px;

    margin-bottom: 37px;

    background-color: var(--color-color-secondary-color);
    color: var(--color-color-primary-color);

    font-size: 25px;
}

.contact-form-input:focus {
    background-color: var(--color-color-btn-green-color);
    color: var(--color-color-secondary-color);

    border: 4px solid;
    border-color: var(--color-color-primary-color);

    transition: 0.5s all linear;
}

.contact-form-button-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 12px;
}

.contact-form-button {
    width: 90%;
    height: 50px;

    background-color: var(--color-color-primary-color);
    border-radius: 5px;
    border: none;
    color: var(--color-color-secondary-color);
    cursor: pointer;
    font-size: 30px;

}

.contact-form-button:hover {
    background-color: var(--color-color-secondary-color);
    color: var(--color-color-primary-color);

    transition: 0.2s all linear;

    border: 2px solid var(--color-color-primary-color);
}


.contact-form-button2 {
    width: 90%;
    height: 50px;

    background-color: transparent;
    border: none;
    color: var(--color-color-primary-color);

    font-size: 30px;

    border-radius: 5px;

    cursor: pointer;
}

.contact-form-button2:hover {
    border: 2px solid var(--color-color-primary-color);
}


/* Footer Web site */

.row-end {
    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 32px;
    border-top: 0.4px solid var(--color-color-primary-color);
}

.row-end-logo {
    font-size: 35px;

    padding: 35px;
}

.row-end-copy {

    font-weight: bold;

    color: var(--color-color-third-color);
}